/* RESET CSS */
body, p, h1, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}