/* MAIN */
.content {
    padding: 3rem 8rem;
    background: linear-gradient(#000428, #004e92);
    color: #F8FFF4;
}

.content img {
    margin-bottom: 1rem;
}

.content h2 {
    padding: 0 0 1rem 0;
    width: 100%;
    color: rgb(250, 234, 234);
}

.content p {
    font-size: 1.4rem;
}

.values p {
    margin-bottom: 1.5rem;
}

.values {
    display: flex;
    flex-wrap: wrap;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    img {
        width: 80%;
    }
    .content {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 450px) {
    .content {
        padding: 3rem 2rem;
        font-size: .9rem;
    }
    .values p {
        font-size: 1rem;
    }
    img {
        width: 60%;
    }
}