/* HEADER */
.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    transform: 0.2s;
}

.logo-link {
    text-decoration: underline;
    color: #000428;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    color: black;
    font-size: 1.2rem;
    position: relative;
    padding: 0 .2rem;
}

.header li+li {
    margin-left: 1.2rem;
}

.logo {
    color: #000428;
}

header a:after {
    content: "";
    position: absolute;
    background-color: #004e92;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav>ul>li a:hover:after {
    width: 100%;
}

/* MAIN */ 
.content {
    padding: 3rem 8rem;
    background: linear-gradient(#000428, #004e92);
    color: white;
}

.content h2 {
    text-align: center;
    padding: 0 0 1rem 0;
    color: rgb(250, 234, 234);
}

.content p {
    font-size: 1.4rem;
}

.valores p {
    margin-bottom: 1.5rem;
}


/* FOOTER */
.footer {
    grid-area: footer;
    background: white;
    padding: .4rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.1rem;
    letter-spacing: 1.1;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    color: #000428;
}