img {
    width: 90%;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 1fr;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    background: linear-gradient(#000428, #004e92);
}

/* MAIN */
.content {
    grid-area: content;
    color: #F8FFF4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.image {
    padding: 5rem;
}

.text {
    padding: 1rem ;
}


/* RESPONSIVE */
@media screen and (max-width: 600px) {
    html {
        overflow-x: hidden;
    }
    img {
        width: 80%;
    }
    .container {
        grid-template-areas:
        "header"
        "content"
        "footer";
        grid-template-columns: 100vw;
        width: 100vw;
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .text-1 {
        order: 2;
    }
    .text-4 {
        order: 4;
    }
    .text-3 {
        order: 5;
    }
    .image-1 {
        order: 1;
    }
    .image-2 {
        order: 3;
    }
    .image-3 {
        order: 6;
    }
    
    .image {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .text h2 {
        text-align: center;
        padding: .5rem;
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .text p  {
        display: flex;
        text-align: center;
        width: 100%;
        padding: .5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas:
        "header"
        "content"
        "footer";
    }
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    }
}